<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.procasy.dubarah_nocker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
        android:name="com.procasy.dubarah_nocker.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.procasy.dubarah_nocker.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden|adjustNothing">

        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme2"></activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme2"></activity>
        <activity android:name=".Activity.Nocker.OtherProfileActivity" />
        <activity android:name=".Activity.SignUpActivities.MainInfoSignUp" />
        <activity android:name=".Activity.SignUpActivities.LocationInfoSignUp" />
        <activity android:name=".Activity.SignUpActivities.PhotoSignUp" />
        <activity android:name=".Activity.BeANocker.BeAnockerAcitivty" />
        <activity android:name=".Activity.BeANocker.DisclaimerActivity" />
        <activity android:name=".Activity.BeANocker.ChooseSkillsActivity"></activity>
        <activity
            android:name=".Activity.BeANocker.ChooseLanguagesActivity"
            android:windowSoftInputMode="stateHidden|adjustNothing"></activity>
        <activity android:name=".Activity.Nocker.MyProfileActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name=".Services.LocationService" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.procasy.dubarah_nocker" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.MyGcmPushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.GCMIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="259a40416f4d8f3455b4a2df8d67315570e2d11d" />

        <activity android:name=".Activity.Nocker.EditProfileActivtiy"></activity>
        <activity
            android:name=".Activity.JobRequestActivity"
            android:theme="@style/Theme.Transparent"></activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".Activity.BeANocker.WhyWorkingActivty"></activity>
        <activity android:name=".Activity.SignUpActivities.WhyYouJoinNocker">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
